@use 'variables' as *;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr; 
  gap: $spacing-lg;
  padding: $spacing-md;

  @media (min-width: 768px) {
    grid-template-columns: 35rem 50rem; 
    padding: $spacing-xl;
    align-items: start;
    justify-content: space-around;
  }
}

.app__chat {
  background-color: $color-panel-light;
  border-radius: $border-radius-lg;
  border: 1px solid darken($color-panel-light, 10%);
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
}

.app__game {
  background-color: $color-panel-dark;
  border-radius: $border-radius-lg;
  border: 1px solid $color-border;
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
}